[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "==2.5.0"
requests = "*"
openpyxl = "==2.5.4"
qt-ledwidget = "==0.2"
pyinstaller = "==3.3.1"
pyqt5 = "==5.12.2"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.7.1"
